# File segreti
.env

# Cartelle di cache di Python
__pycache__/
*.pyc

# La vecchia Dispensa Magica (non più usata qui)
faiss_index/

# La cache del "Traduttore Automatico" (non più usata qui)
.cache/